:root {

    --color-primary-0: #A684D5;	/* Main Primary color */
    --color-primary-1: #EBE0FA;
    --color-primary-2: #C9B1EB;
    --color-primary-3: #835CBA;
    --color-primary-4: #663D9F;
    
    --color-secondary-1-0: #EAFB92;	/* Main Secondary color (1) */
    --color-secondary-1-1: #FAFEE2;
    --color-secondary-1-2: #F2FDB9;
    --color-secondary-1-3: #E2F86F;
    --color-secondary-1-4: #CAE34A;

    --color-secondary-2-0: #FFE495;	/* Main Secondary color (2) */
    --color-secondary-2-1: #FFF8E2;
    --color-secondary-2-2: #FFEEBB;
    --color-secondary-2-3: #FFDB72;
    --color-secondary-2-4: #EAC24C;
}